@import url('https://fonts.googleapis.com/css?family=Raleway');
.m-r-15 {
    margin-right: 15px;
}

.result{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 30px;
}